body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin: 10;
    padding: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}

.main_container {
    max-width: 800px; 
    margin: 0 auto;  /* Center the container horizontally */
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.player_cell {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Add rounded corners */
    margin-bottom: 15px;
}