<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Select</title>
</head>
<body>
    <h1>{{ message }}</h1>

    <form action = "{{ url_for('process_form') }}" method = "post">
        <label for = "teams">Select a Team:</label>
        <select id = "team_choice" name = "team_choice"></select>
        <input type = "submit" value = "Go to page">
    </form>

<script src = "{{ url_for('static', filename = 'populateDropdown.js')}}"></script>

</body>
</html>
