<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css"> 
    <title>Team Page</title>
</head>

<body>
    <div class="main_container">
        <header>
            <h1>{{ message }}</h1>
        </header>
        <main>
            <section class="team_data">
                <h1>This is the {{ team }} team page.</h1>
                <h2>These are the players who are currently signed and their salaries.</h2>
                <table>
                    <thaed>
                    <tr>
                        <th>Player Name</th>
                        <th>Team</th>
                        <th>Cap Number</th>
                    </tr>
                </thaed>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.player_name }}</td>
                            <td>{{ item.team_loc }}</td>
                            <td>{{ item.cap_hit }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
                
            </section>
        </main>
    <footer>
        <p>&copy; Within The Cap 2024</p>
    </footer>
    </div>
</body>
</html>
